//@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #efefef;
    & * {
        box-sizing: border-box;
    }
}

a {
    color: #fff;
    text-decoration: none;
    &:visited {
        color: #fff;
    }
    &:hover, &:active {
        text-decoration: none;
    }
}

main {
    padding-top: 68px;
    & > section {
        background-color: white;
        margin: 20px;
        padding: 20px;
        border: 1px solid;
    }
}

#root {
}