html, body {
  height: 100%; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #efefef; }
  body * {
    box-sizing: border-box; }

a {
  color: #fff;
  text-decoration: none; }
  a:visited {
    color: #fff; }
  a:hover, a:active {
    text-decoration: none; }

main {
  padding-top: 68px; }
  main > section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border: 1px solid; }
